DATABASE_URL=postgresql://agrinova:motdepasse@db:5432/agrinova
JWT_SECRET=changer_cette_cle_secrete_jwt
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=10080
GROQ_API_KEY=gsk_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
FRONTEND_URL=https://mondomaine.com
ENV=production
